{
{% for service in services %}
  "description": {{service.description}},
  "display_name": {{service.display_name}},
  "service_entries": [
    {% for entry in service.service_entries  %}
       {
        "resource_type": {{entry.resource_type}},
        "display_name": {{entry.display_name}},
        "destination_ports": [
            {% for port in entry.destination_ports %}
              {{port}}
            {% endfor%}
          ],
        "l4_protocol": {{entry.l4_protocol}}
        },
    {%endfor%} 
  ]
{%endfor%}
}